body {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    font-family: Arial;
    line-height: 1.5rem;    
}

h1 {
    line-height: 2.5rem;
}

a {
    font-weight: bold;
    text-decoration: none;
}

ol > li {
    margin: 20px 0;
}

ul li {
    margin: 5px 0;
}

li span {
    margin-left: 20px;
}

.important {
    color: red;
    font-weight: bold;
}

#footnotes {
    margin-top: 5rem;
}

@media (max-width: 800px) {
    ol, ul {
        padding-left: 1rem;
    }
}